.c-input{
  width: 350px;
  height: 40px;
  background: #292A2B 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #7E7E7E;
  border: none;
  margin: 10px;
  border-radius: 2px;
  padding: 6.5px 17px;

  &--border{
    border: $redX5 solid 2px;
    border-radius: 10px;
  }
}