img.GithubAvatar, svg.DefaultAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px 50px 12px 50px;
    padding: 0;
}

svg.DefaultAvatar {
    color: var(--default-font-color);
}
