.update-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 10px;
    border: none;
    font-size: 16px;
    line-height: 27px;
    background-color: #E02735;
    color: #F7F7F7;
    cursor: pointer;
    transition: .3s;
}

.update-btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #E02735;
    transform: translateY(-0.25em);
}
